div {
    border-radius: 5px;
    border-color: #30405E;
	padding-top: 5px;
}

.frame {
    height: 5em;
    width: 20em;
    color: #630053;
    font-size: 24px;
    font-family: sans-serif;
}

.dot {
    background-color: #23e021;
    height: 2em;
    width: 2em;
}

#header {
	z-index: 1;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #668284;
	margin-bottom: 10px;
}

#countdown {
	position: relative;
	height: 50px;
	width: 97.5%;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 32px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}

body {
    background-color: #308080;
}

